* {
    border-radius: 5pt;
    padding: 2pt;
}


.header {
    text-align: center;
}

.course-list {
    border-style: solid;
    width: fit-content;
    width: 25%;
    height: 100%;
    float: left;
}

.course-details {
    background-color: grey;
    float: right;
    width: 70%;
    height: 100%;
}

.course-element {
    margin: 10pt;
    background-color: grey;
}

.assignment {
    display: flex;
    margin-left: 4pt;
}

.assignment-info {
    width: 30%;
}

.previous-submissions {
    width: 30%;
}

.file-submit {
    width: 30%;

    border-style: solid;

    height: fit-content;
    width: fit-content;
}